:root {
  --token-dark-500: hsl(30, 2%, 18%);
  --token-dark-600: hsl(30, 3%, 23%);
  --token-dark-700: hsl(30, 3%, 29%);
  --token-light-500: hsl(37, 15%, 84%);
  --token-light-800: hsl(38, 22%, 93%);
  --token-primary-400: hsl(194, 100%, 44%);
  --token-primary-500: hsl(194, 100%, 50%);
  --token-font-family-default: EuclidSquare;
  --link: #02a3d9; 
}
